<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Get METAR Data</title>
</head>
<body>
    <form method="POST" action="/get_metar">
        <label for="city">도시 이름:</label>
        <br>
        <select id="city" name="city" multiple>
            <option value="김포공항">김포공항</option>
            <option value="인천공항">인천공항</option>
            <option value="청주공항">청주공항</option>
            <option value="대전공항">대전공항</option>
            <option value="광주공항">광주공항</option>
            <option value="울산공항">울산공항</option>
            <option value="부산공항">부산공항</option>
            <option value="대구공항">대구공항</option>
            <option value="포항경주공항">포항경주공항</option>
            <option value="예천공항">예천공항</option>
        </select>
        <br>
        <button type="submit">METAR 데이터 가져오기</button>
